.s{
    border: 2px solid red;
    height: 200px;
    
}  
.df{
    
    color: #323f4b;
    border-radius: 20px;
}
.df1{
    color: #707070;
    padding-right: 30px;
}

.s1{
    background-color: #0967d219;
    
}
.co{
    background-color: #3ebd93;
}
.co2{
    background-color: #e668a7;
}
.co3{
    background-color: #a368fc;
}
.r{
    border-radius: 20px;
}
.yt{
    background-color: #e12d3919;
}
.fd{
    height: 100%;
}