.sa{
    background-color: #fb4e71;
    padding: 20px;
}
.dz{
    background-color: #e6f6ff;
}
.d1{
    margin-left: 80px;
}
.ds1{
    height: 250px;
}
.gf{
    margin-top: 100px;
}
.ds2{
    margin-left: 70px;
}