.cs{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    
}
.cs2{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    
}

.cs1{
    margin-top: 130px;
}