.s{
     background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:100px;
    height: 600px;   
     
}
.s1{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:px;
    height: 600px;   
    

}
.mar{
    padding-top: 400px;
}
.mar1{
    padding-top: 350px;
}



/* .sw{
    margin-top: 300px;

} */



   