@media  screen and (max-width: 1200px) and (min-width: 576px){
    
    .cx{
        margin-left: 200px;
    }
    .cz{
        text-align: center;
    }
   

}
.carousel1{
    width:600px;
}
/* .zx{
    margin-left: px;
} */
/* .bs{
    border-radius: 50px;
}
.ds{
    margin-left: 560px;
}*/

